/*
0123456789abcdef
*/


body {
  font-size: 60%;
  font-family: sans-serif;
  background-color: #edf;
  max-width: 40em;
  padding: 0 5%;
  margin: 0 auto;
}

h1 {
 font-size: 4em;
  line-height: 1.25;
  padding: 1em;
  border: 2px solid #000;
  margin: 1em;
}

 p {
  font-family: Georgia;
  line-height: 1; 
   font-size: 2em;
}

p.intro {
  font-size: 2em;
  line-height: 0.5;
  padding: 1em;
  border: 1px solid #000;
  margin: 1em;
}

strong {
  display: block;
  padding: 1em;
  border: 1px solid #000;
  margin: 1em;
}

h2 {
  font-family: monospace;
  font-size: 3em;
}

h3 {
  font-family: monospace;
  font-size: 2.5em;

li {
  font-family: monospace;
  font-size: 2.5em;
}

li {
  font-family: monospace;
  font-size: 2.5em;
}
