/*
0123456789abcdef
*/


body {
  font-size: 60%;
  font-family: sans-serif;
  background-color: #DBC6A8;
  max-width: 48rem; /*max-width layout for wider screens*/
  padding: 0 1rem;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  line-height: 1.25;
  padding: 1em;
  border: 2px solid #654321;
  margin: 1em;
  text-align: center;
  text-decoration-style: wavy;
  color: #342211; /* #rgb */
}

h2 {
  font-family: georgia;
  font-size: 1em;
  line-height: 1em;
  color: #342211;
}

 p {
  font-family: Georgia;
  line-height: 1; 
   font-size: 2em;
   color: #342211;
}

p.intro {
  font-size: 2em;
  line-height: 0.5;
  padding: 1em;
  border: 1px solid #000;
  margin: 1em;
  color: #342211;
}

strong {
  display: block;
  padding: 1em;
  border: 1px solid #000;
  margin: 1em;
}

summary {
  font-family: monospace;
  font-size: 3em;
  color:#342211;
}

ul {
  color: #342211;
}

ol {
  color: #342211;
}

 li {
  font-size: 2em; /* 40px/16=2.5em */
  font-family: Georgia;
   opacity: 1;  
  }

dt {
 font-size: 1.5em; /* 40px/16=2.5em */
  font-family: Georgia;
   opacity: 1;  
  color:#342211;
}

dd {
 font-size: 1.5em; /* 40px/16=2.5em */
  font-family: Georgia;
   opacity: 1;  
  color:#342211;
}
  
  figcaption {
  font-size: 0.5em; /* 40px/16=2.5em */
  font-family: Georgia;
  color:#342211;
  opacity: 1;  
  }


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 75%;
  height: auto;
}


/*
#ingredients::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  padding-top: 50em;
  padding-right: 20em;
  border-top: 0.5em solid #342211;
  border-left: 0.5em solid #342211;
}

#ingredients::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  padding-top: 100em;
  padding-right: 35em;
  border-bottom: 0.5em solid #342211;
  border-right: 0.5em solid #342211;
  }
*/
#ingredients h2::marker {
  content: "";
}

.list-steps li::before {
  display: block;
  content: "Step " counter(list-item) ":";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
a:link {
  color: #342211;
  text-decoration: none;
  font-size: 1em;
}
a:visited {
  color: #342211;
}
a:hover {
  background-color: #d2b48c;
}
a:active {
  color: #342211;
}
